@tailwind base;
@tailwind components;
.btn{
    @apply hover:scale-[1.1] ease-in duration-100 
}
@tailwind utilities;

.btn{
    color: #fff;
    background: #3b82f6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0.75rem;
}
.btn:hover{
    cursor: pointer;
    background: #8a4af3;
    /* background: #c4a4f9; */
    /* background: #4caf50; */
}

.btnn{
    color: #3b82f6;
    background: white;
    border: 2px solid #3b82f6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0.75rem;
    cursor: pointer;
}
